name: Backend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Use Node.js 18
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install Dependencies
      run: npm install
      working-directory: ./source code/backend


    - name: Setup Environment File
      run: cp .env.test .env
      working-directory: ./source code/backend

    - name: Run Tests
      run: npm test
      working-directory: ./source code/backend
